.sty_,
.sty_ * {
  font-family: 'Fira Code Regular', Consolas !important;
  font-size: 14px !important;
}

.selected {
  background-color: #82b4e680 !important;
  box-shadow: 0 0 0 1px #0f4d9a !important;
}

.selected2.selected2.selected2.selected2.selected2.selected2 {
  background-color: #abe88f7d !important;
}
.selected2 {
  box-shadow: 0 0 0 1px #44b311 !important;
}

/* background-color: #abe88f7d !important; */
/* box-shadow: 0 0 0 2px #4cb47b !important; */
/* background-color: #fff8dc !important; */
/* box-shadow: 0 0 0 1px #e6dfc6 !important; */
/* .selected2.selected2.selected2.selected2.selected2 * {
  background-color: #88ddae !important;
  box-shadow: none !important;
} */
/* .selected.selected.selected.selected.selected.selected * {
  background-color: #bcd5eb !important;
  box-shadow: none !important;
} */
